.glavnyi{
    width: 100%;
    height: 100vh;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}
.card{
    width: 170px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: oldlace;
    color: black;
    border-radius: 5px ;
}
.card1{
    width: 170px;
    height: 250px;
    background: oldlace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.9;
}
.plus{
    margin-top: 5px;
    font-size: 25px;
}
.adamkosh{
    margin-top: 30px;
    font-size: 100px;
}
img{
    width: 90px;
    border-radius: 50%;
    background: darkgray;
}
.but{
    width: 37.9px;
}